@font-face {
    font-family: multi;
    src: url(../assets/fonts/Muli.ttf);
}

@font-face {
    font-family: multi-light;
    src: url(../assets/fonts/Muli-Light.ttf);
}

@font-face {
    font-family: multi-bold;
    src: url(../assets/fonts/Muli-Bold.ttf);
}

@font-face {
    font-family: avenir;
    src: url(../assets/fonts/Avenir.otf)
}